.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.content {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}
.header {
    position: relative;
    height: auto;
    background-color: #eee;
    margin: 0;
    padding: 5px;
}
.header .section {
    width: 100%;
    max-width: 50ex;
    height: auto;
    margin: 3px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}
.header .section input[type=search] {
    width: 100%;
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    height: 3.5ex;
}
.header .section textarea {
    width: 100%;
    box-sizing: border-box;
    left: 0;
    top: 0;
    height: 10ex;
    margin: 0;
    font-size: smaller;
}
.footer {
    font-family: calibri;
    background-color: #eee;
    text-align: center;
}
body {
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.region {
    position: relative;
    text-align: center;
}
.region span {
    font-family: verdana;
    font-size: 10pt;
    font-weight: bold;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
}
.region hr {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}
#menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: auto;
    width: 3.5ex;
    text-align: center;
    padding-top: 4px;
    margin: 0;
}
.settings {
    padding: 5px;
    font-family: calibri;
}
label {
    font-family: calibri;
}
#list {
    position: relative;
    height: 3.5ex;
    width: auto;
    margin-right: 3.5ex;
}
#list .select {
    position: relative;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;
}
#list .select select {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
#list > .select {
    height: 100%;
}
.toolbox {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display:table;
    padding: 0;
    margin: 0;
    background-color: RGBA(0, 0, 0, 0.2);
    z-index: 100;
}
.toolbox > div {
    display:table-cell;
    vertical-align:middle;
    overflow-y: auto;
}
.toolbox > div > div {
    width: 100%;
    max-width: 50ex;
    max-height: 100vh;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.toolbox > div > div > div {
    background-color: RGBA(255, 255, 255, 1);
    /* border: 2px outset lightgray; */
    /* border-radius: 1ex; */
    padding: 0;
}
.toolbox .head {
    position: relative;
}
.toolbox .head .back {
    background-color: lightgray;
    width: 48px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    font-family: calibri;
    font-size: 27pt;
    color: white;
}
.toolbox .head .icon {
    background-color: #ddd;
    width: 48px;
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
}
.toolbox .head .icon img {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
}
.toolbox .head .title {
    margin-left: 48px;
    margin-right: 48px;
    height: 48px;
    font-size: 15pt;
    box-sizing: border-box;
    font-family: calibri;
    overflow: hidden;
    padding: 12px;
    text-align: center;
    background-color: #ddd;
}
.toolbox .body {
    overflow-y: auto;
}
.toolbox .body .section {
    display: block;
}
.toolbox .body .section .section {
    display: inline-block;
}
#section {
    position: relative;
    height: 3.5ex;
    width: 100%;
    display: inline-block;            
}
#section select {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
#section > div {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    border: 0;
    margin: 2px;
    margin-right: 3ex;
}
#section > div > input[type=text] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
}
#selection_group > select {
    width: 100%;
    height: 3.5ex;
}
#selection_group > div.center {
    position: relative;
    margin-left: 7ex;
    margin-right: 12ex;
}
#selection_group > div.left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 7ex;
}
#selection_group > div.right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 12ex;
}
#selection_group select {
    font-style: italic;
}
#selection_group option {
    font-style: normal;
}
.pokemon {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 8px;
}
.pokemon img {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    mix-blend-mode: multiply;
}
.pokemon.checked {
    border-color: green;
    background-color: #efe;
}
.pokemon.selected {
    border-color: #408 !important;
    background-color: #edf !important;
}
.pokemon.checked > s::before {
    position: absolute;
    left: 2px;
    top: -4px;
    font-family: courier;
    font-size: 13pt;
    text-decoration: none;
    color: green;
    content: "✓";
    text-shadow: 0px 0px 3px green;
}
.pokemon > i {
    position: absolute;
    right: 2px;
    top: -4px;
    height: 30px;
    text-decoration: none;
}
.pokemon > i::after {
    font-family: courier;
    font-size: 20pt;
    text-decoration: none;
    content: "";
}
.pokemon.male > i::after {
    color: blue;
    content: "♂";
    text-shadow: 0px 0px 3px blue;
}
.pokemon.female > i::after {
    color: red;
    content: "♀";
    text-shadow: 0px 0px 3px red;
}
.pokemon.shiny > i::before {
    font-family: courier;
    font-size: 9pt;
    text-decoration: none;
    /* color: yellow; */
    content: "✨";
    /* text-shadow: 0px 0px 3px yellow; */
    position: relative;
    top: -5px;
    left: 3px;
}

.pokemon > u {
    position: absolute;
    left: 2px;
    bottom: 0px;
    font-family: calibri;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    font-stretch: ultra-condensed;
    text-shadow: 0px 1px 2px white, 0px -1px 2px white, 1px 0px 2px white, -1px 0px 2px white;
    text-decoration: none;
    color: black;
    display: none;
}
.pokemon.checked > u {
    display: inherit;
}
div.tags {
    background-color: #eee;
}
div.tags .tag {
    border: 3px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    color: #000;
    font-family: calibri;
    font-size: 12pt;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    display: inline-block;
}
div.tags .tag:hover {
    background-color: #ddd;
    color: #000;
}
div.tags .tag.partial {
    border: 3px dashed #444;
    background-color: #444;
    color: #fff;
}
div.tags .tag.partial:hover {
    background-color: #888;
    color: #fff;
}
div.tags .tag.full {
    border: 2px solid #444;
    background-color: #444;
    color: #fff;
}
div.tags .tag.full:hover {
    background-color: #888;
    color: #fff;
}
